requests==2.25.1
requests-retry-on-exceptions==2020.10.30
fake-useragent==0.1.11
torch==1.7.0
six==1.15.0
numpy==1.19.5
tqdm==4.31.1
transformers==4.2.0
nltk==3.5
ptvsd==4.3.2
scikit_learn==0.23.2
simplejson==3.17.2
tensorboardX==2.1
git+https://github.com/nikuya3/rasa.git@cf42f1087c984aaff0a5370e7a5efdaa6024b23b
spacy==2.2.4
m2r2==0.2.7
